<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ - Registration</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/jquery.min.js"></script>
<!--    <script src="js/vue.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/login.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body class="container">
    <div class="center" id="app" v-cloak>
        <h1>Register</h1>
        <div class="actions">
            <div class="display-flex-row" v-if="user">
                <button class="btn-tab font-bold" @click='logout'>Logout
                </button>
                <button class="btn-tab font-bold" @click='setComponent({currentComponent: "posts"})'>View All Posts
                </button>
                <button class="btn-tab font-bold" @click='setComponent({currentComponent: "createPost"})'>Create Post
                </button>
            </div>
            <div class="display-flex-row" v-else>
            <button class="btn-tab font-bold" @click='setComponent({currentComponent: "signin"})'>Sign In</button>
            <button class="btn-tab font-bold" @click='setComponent({currentComponent: "register"})'>Register</button>
            </div>

        </div>

        <!-- Screens -->
        <transition name='form' mode='out-in'>
            <keep-alive>
                <component :user="user" :feedback='feedback' :is="currentComponent" @register-form='handleForm' @signin-form='handleForm'></component>
            </keep-alive>
        </transition>
    </div>
  
    <!-- Sign Up  -->
    <template id="signUp">
       <div>
           <form @submit.prevent='onSubmit' ref='form' action="" class='register-form display-container'>
               <img alt="wsj banner" class="banner" src="/assets_from_client/assets/WSJ_Horizontal.png"/>
               <h2 class="font-bold">New Account</h2>
               <div class="form-group">
                   <label for="firstname">First Name</label>
                   <input required type="text" v-model.trim='user.firstname' id='firstname' placeholder="first name">
               </div>
               <div class="form-group">
                   <label for="lastname">Last Name</label>
                   <input required type="text" v-model.trim='user.lastname' id='lastname' placeholder="last name">
               </div>
               <div class="form-group">
                   <label for="email">Email</label>
                   <input required type="email" v-model.trim='user.email' id='email' placeholder="email">
               </div>
               <div class="form-group">
                   <label for="password">Password</label>
                   <input required type="password" v-model='user.password' placeholder="password" id='password' v-bind:class="[ user.password.length != 0 && user.password != user.passwordCheck ? 'invalid' : 'valid' ]">
               </div>
               <div class="form-group">
                   <label for="passwordcheck">Confirm Password</label>
                   <input @blur="validatePasswordCheck" required type="password" v-model='user.passwordCheck' placeholder="confirm password" id='passwordcheck' v-bind:class="{invalid: !validPasswordCheck}">
               </div>
               <input class="btn-bold font-bold" type="submit" :disabled='!isFormValid' value='Register'>
               <div class="triangle-bottomright"></div>
           </form>
       </div>
    </template>
  
    <!-- Sign In  -->
    <template id="signinIn">
        <div>
            <form ref='form' @submit.prevent='handleForm' action="" class='signin-form display-container'>
                <img alt="wsj banner" class="banner" src="/assets_from_client/assets/WSJ_Horizontal.png"/>
                <h2 class="font-bold">Sign In</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input required v-model='user.email' type="email" id='email' placeholder="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input required v-model='user.password' type="password" id='password' placeholder="password">
                </div>
                <input class="btn-bold font-bold" :disabled='!isFormValid' type="submit" value="Sign In">
                <div class="triangle-bottomright"></div>
            </form>
        </div>
    </template>

    <!-- View All Posts -->
    <template id="posts">
       <div>
           <div class="display-container">
               <div>
                   <ul class="ul-normalize">
                       <post v-for="post in posts" :key="post.id" v-bind:post="post"></post>
                   </ul>
               </div>
               <div class="triangle-bottomright"></div>
           </div>
       </div>
    </template>



    <!-- View Single Post -->
    <template id="post">
        <li class="post" v-if="post" @click="setComponent({currentComponent: 'viewPost', action: 'view', id: post.id})">
            <h3 class="post-title font-bold">{{post.title}}</h3>
            <div class="post-body">{{post.body}}</div>
            <div class="post-footer">
                <span>Posted by {{post.user.name}} at {{post.created_at}}</span>
                <span v-if="post.comments.length">{{post.comments.length}} comment{{post.comments.length > 1 ? 's' : ''}}</span>
                <span v-else>No comments</span>
            </div>
            <!-- Only the user that created the post will be able to edit/ delete the post -->
            <div v-if="post.user.id === userId" class="post-actions display-flex-row ">
                <button @click.stop="setComponent" @click="setComponent({currentComponent: 'createPost', 'action': 'edit', id: post.id})" class="btn-bold font-bold">Edit Post</button>
                <button @click="deletePost" class="btn-bold font-bold color-danger">Delete Post</button>
            </div>
        </li>
    </template>

    <!-- Create Post  -->
    <template id="createPost">
        <form class="display-container" @submit.prevent='handleSubmit' ref='form' action="">
            <h2 class="font-bold">{{action === 'edit'? 'Edit' : 'Create'}} Post</h2>
            <div class="form-group">
                <label for="title">Title</label>
                <input v-model="title" required type="text" id='title' placeholder="Title">
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea v-model="body" required id='body' placeholder="Let the world know what's on your mind"></textarea>
            </div>
            <input class="btn-bold font-bold" :disabled='!isFormValid' type="submit" value="Save Post">
            <div class="triangle-bottomright"></div>
        </form>
    </template>

    <!-- Detailed Post  -->
    <template id="viewPost">
       <div class="display-container">
           <post v-bind:post="post" detailed="true" v-bind:user-id="user ? user.id : ''"></post>
           <createcomment v-bind:post-id="post ? post.id : ''"></createcomment>
           <div class="comments" v-if="post">
               <div v-for="comment in post.comments" :key="comment.id">
                   <comment v-bind:comment="comment" v-bind:user-id="user ? user.id : ''"></comment>
               </div>
           </div>
       </div>
    </template>

    <!-- Create Comment -->
    <template id="createComment">
        <form v-bind:class="{'display-container': action === 'edit'}" @submit.prevent='handleSubmit' ref='form' action="">
            <div class="form-group">
                <textarea v-model="body" required id='body' placeholder="Leave a comment"></textarea>
            </div>
            <input class="btn-bold font-bold" :disabled='!isFormValid' type="submit" value="Save comment">
            <div class="triangle-bottomright"/>
        </form>
    </template>

    <!-- View Comment -->
    <template id="comment">
        <div class="comment">
            <span>{{comment.body}}</span>
            <div class="post-footer">
                <span>Posted by {{comment.user.name}} at {{comment.created_at}}</span>
            </div>
            <!-- Only the user that created the comment will be able to edit/ delete it -->
            <div v-if="comment.user.id === userId" class="post-actions display-flex-row flex-space">
                <button @click="setComponent({currentComponent: 'createComment', 'action': 'edit', id: comment.id})" class="btn-small font-bold">Edit Comment</button>
                <button @click="deleteComment" class="btn-small font-bold color-danger">Delete Comment</button>
            </div>
        </div>
    </template>

  
    <!-- Success Message -->
    <template id="loginFeedback">
      <!-- 
        Easter egg! 
        
        When a user has successfully registered or signed up, 
        there is a third feedback screen which is not included
        in the mock ups. Please style these screens so they align
        with the rest of the designs.
      -->
        <div class="feedback display-container">
            <header>
                <h2>{{ title }}</h2>
            </header>
            <div v-if='feedback.type === "register"'>
                <h3>Welcome <strong>{{ feedback.data | name }}</strong>!</h3>
                <p>You may now sign in.</p>
                <p>Please check the email address provided - {{feedback.data | email}} - to complete your
                    registration.</p>
            </div>
            <div v-else>
                <p>Logging in...</p>
            </div>
            <div class="triangle-bottomright"></div>
        </div>
    </template>
  </body>
  
</html>